/* >>>>> RESGISTER CONTAINER */
    .registerrContainer{
        height: 100vh;
        width: 100%;


    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> REGISTER SECTION <<<<< */
    .registerSL{
        height: 90%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .registerNav button{
        width: 100px;
        height: 40px;
        
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.281);
    }
    /* >>> RESPONSIVE <<< */
/*  */