@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

/* >>>>> SERVICE CARD CONTAINER <<<<< */
    .serviceCardContainer{
        width:350px;
        height: 200px;
    }

    .serviceCardContainer h2{
        color: #B9E248;

        letter-spacing: 1px;
        font-size: 2rem;
        font-family: "Anton SC", serif;
        font-weight: bold;
        font-style: normal;
    }

    .serviceCardContainer p{
        color: white;
        /* margin-bottom: 20px; */
        font-size: 1.9rem;
        font-family: "Arapey", serif;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1550px) {
        .serviceCardContainer h2{
            font-size: 1.5rem;
        }

        .serviceCardContainer p{
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 750px) {
        .serviceCardContainer{
            text-align: center;
            width: 250px;
            height: 150px;
            /* margin-top: 5rem; */

            display: grid;
            place-content: center;
        }
        
        .serviceCardContainer h2{
            width: 100%;
            font-size: 1rem;
        }

        .serviceCardContainer p{
            width: 100%;
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 510px) {
        .serviceCardContainer{
            text-align: center;
            width: 200px;
            height: 150px;
            /* margin-top: 5rem; */

            display: grid;
            place-content: center;
        }
        
        .serviceCardContainer h2{
            width: 100%;
            font-size: 1rem;
        }

        .serviceCardContainer p{
            width: 100%;
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 420px) {
        .serviceCardContainer{
            text-align: center;
            width: 150px;
            height: 150px;
            /* margin-top: 5rem; */

            display: grid;
            place-content: center;
        }
        
        .serviceCardContainer h2{
            width: 100%;
            font-size: 0.6rem;
        }

        .serviceCardContainer p{
            width: 100%;
            font-size: 0.6rem;
        }
    }
/*  */