@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');


/* >>>>> DASHBOARD APP <<<<<< */
    .dashboardApp{
        height: 100vh;
        width: 100%;

        background-color: black;

        display: flex;
        flex-direction: column;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> DASHBOARD HEADER <<<<< */
    .dashHeader{
        width: 100%;
        padding: 20px;

        display: flex;
        align-items: center;

        gap: 2rem;
    }

    .dashHeader h2{
        color: white;
        font-size: 2rem;
        font-family: "Anton SC", serif;
        font-weight: 400;
        font-style: normal;
    }

    .dashHeader P{
        color: #B9E248;
        font-size: 2rem;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> DASHBOARD MAIN <<<<< */
    .dashMain{
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> MAIN LEFT SECTION <<<<< */
    .dashLeft{
        height: 91vh;
        width: 50%;
        padding: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> LEFT TOP SECTION <<<<< */
    .leftTop {
        width: 100%;
        height: 50%;
        padding: 20px;

        border: 2px solid #B9E248;
        border-radius: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .cardDetails {
        height: 80%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        color: white;
    }

    .balance,
    .accountNum {
        width: 100%;
        height: 100px;

        border-bottom: 2px solid #B9E248;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .leftTop h2 {
        color: white;
        font-size: 3rem;
        font-family: "Anton SC", serif;
        font-weight: 400;
        font-style: normal;
    }

    .balance p,
    .accountNum p {
        font-size: 2.5rem;
        font-family: "Arapey", serif;
        font-weight: bolder;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> LEFT BOTTOM SECTION <<<<< */
    .leftBottom{
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .row1, .row2{
        width: 100%;

        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .leftBottom button{
        width: 200px;
        height: 150px;

        font-size: 3rem;

        background-color: #B9E248;
        border: none;
        border-radius: 30px;
        outline: none;
    }

    button p{
        font-size: 2rem;
        font-family: "Anton SC", serif;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> MAIN RIGHT SECTION <<<<< */
    .dashRight {
        height: 91vh;
        width: 50%;
        padding: 30px;

        background-color: aliceblue;
    }
    /* >>> RESPONSIVE <<< */
/*  */


