@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

/* >>>>> HERO SECTION <<<<< */
    .heroContainer{
        height: 100vh;
        width: 100%;

        background-image: url("./senaxHeroIllu.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* backdrop-filter: blur(10px); */
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1550px) {
        .heroContainer{

        }
    }
/*  */


/* >>>>> HERO APP CONTAINER <<<<< */
    .heroApp{
        height: 100%;
        width: 100%;
        backdrop-filter: blur(10px);
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> HERO WRAPPER <<<<< */
    .heroWrapper{
        height: 90%;
        width: 100%;
        padding: 40px;

        color: white;
 

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1550px) {
        .heroWrapper{
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 1000px) {
        .heroWrapper{
            justify-content: space-between;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 1000px) {
        .heroWrapper{
            height: 85%;
        }
    }
/*  */

/* >>>>> RIGHT SECTION <<<<< */
    .heroRight{
        width: 60%;

    }

    .heroRight h1{
        width: 800px;

        letter-spacing: 1px;
        font-size: 7rem;
        font-family: "Anton SC", serif;
        font-weight: bolder;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1390px) {
        .heroRight{

        }

        .heroRight h1{
            width: 100%;
            font-size: 5.8rem;
        }
    }

    @media screen and (max-width: 1000px) {
        .heroRight{
            width: 100%;
            height: 50%;
        }

        .heroRight h1{
            width: 100%;
            font-size: 5.8rem;
        }
    }

    @media screen and (max-width: 800px) {
        .heroRight{

        }

        .heroRight h1{
            width: 100%;
            font-size: 4.5rem;
        }
    }

    @media screen and (max-width: 500px) {
        .heroRight{

        }

        .heroRight h1{
            width: 100%;
            font-size: 3.5rem;
        }
    }
/*  */

/* >>>>> LEFT SECTION <<<<< */
    .heroLeft{
        width: 40%;
        margin-bottom: 50px;
    }

    .heroLeft p{
        width: 500px;
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-family: "Arapey", serif;
        font-weight: 400;
        font-style: normal;
    }

    .heroLeft button{
        width: 500px;
        height: 70px;

        border: none;
        outline: none;
        border-radius: 30px;

        background-color: #B9E248;
        color: black;

        font-size: 2rem;
        font-family: "Anton SC", serif;
        font-weight: bolder;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1390px) {
        .heroLeft{

        }

        .heroLeft p{
            width: 100%;
            font-size: 1.5rem;
        }

        .heroLeft button {
            width: 100%;
            /* height: ; */
        }
    }

    @media screen and (max-width: 1000px) {
        .heroLeft{
            width: 100%;
            height: 50%;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .heroLeft p{
            width: 50%;
            font-size: 1.5rem;
        }

        .heroLeft button {
            width: 50%;
            /* height: ; */
        }
    }

    @media screen and (max-width: 1000px) {
        .heroLeft{

        }

        .heroLeft p{
            width: 50%;
            font-size: 1rem;
        }

        .heroLeft button {
            width: 50%;
            /* height: ; */

            font-size: 1rem;
        }
    }

    @media screen and (max-width: 500px) {
        .heroLeft{

        }

        .heroLeft p{
            width: 70%;
            font-size: 1rem;
        }

        .heroLeft button {
            width: 70%;
            /* height: ; */

            font-size: 1rem;
        }
    }
/*  */