@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

/* >>>>> ABOUT SECTION CONTAINER <<<<< */
    .aboutContainer{
        height: 100vh;
        width: 100%;
        padding: 40px;

        background-color: black;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1550px) {
        .aboutContainer{

        }
    }
/*  */


/* >>>>> ABOUT TOP CONTAINER <<<<< */
    .aboutTop{
        color: white;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    /* >>> About Intro <<< */
    .aboutIntro{
        width: 50%;
    }

    .aboutIntro p{
        font-size: 20px;
        font-family: "Antonio", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .aboutIntro h2{
        width: 400px;

        letter-spacing: 1px;
        font-size: 4rem;
        font-family: "Antonio", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    .aboutSpeech{
        width: 50%;
        
        display: flex;
        justify-content: flex-end;
    }

    .topSpeech{
        width: 700px;

        display: flex;
        align-items: flex-end;


        font-size: 2.5rem;
        font-family: "Antic", serif;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1550px) {
        .aboutIntro h2{
            font-size: 3rem;
        }

        .aboutIntro p{

        }

        .topSpeech{
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 1000px) {
        .aboutIntro h2{
            font-size: 2.5rem;
        }

        .aboutIntro p{

        }
    }

    @media screen and (max-width: 870px) {
        .aboutTop{
            text-align: center;
            width: 100%;
            flex-direction: column;
        }
        .aboutIntro h2{
            width: 100%;
            font-size: 2.5rem;
        }

        .aboutIntro p{

        }

        .aboutIntro{
            width: 100%;
        }

        .aboutSpeech{
            width: 100%;
        }
    }

    @media screen and (max-width: 510px) {
        .aboutTop{
            text-align: center;
            width: 100%;
            flex-direction: column;
            gap: 2rem;
        }
        .aboutIntro h2{
            width: 100%;
            font-size: 2rem;
        }

        .topSpeech{
            font-size: 1rem;
        }
    }
/*  */


/* >>>>> ABOUT RIGHT CONTAINER <<<<< */
    .aboutBottom{
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .serv{
        margin-top: 60px;
        margin-bottom: 60px;

        color: #B9E248;

        letter-spacing: 1px;
        font-size: 3rem;
        font-family: "Antonio", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    .aboutServices{
        display: flex;
        justify-content: space-between;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1550px) {
        .aboutServices{
            width: 100%;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            place-content: center;
            place-items: center;
        }

        .serv{
            font-size: 2rem;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    @media screen and (max-width: 1000px) {
        .aboutServices{
            width: 100%;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            place-content: center;
            place-items: center;
        }

        .serv{
            font-size: 2rem;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    @media screen and (max-width: 380px) {
        .aboutServices{
            width: 100%;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            place-content: center;
            place-items: center;
        }

        .serv{
            font-size: 2rem;
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
/*  */