@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* >>>>> ABOUT SECTION CONTAINER <<<<< */
    .about{
        height: 60vh;
        width: 100%;
        background-color: black;

        color: white;

        background-color: transparent;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1300px) {
        .about{

        }
    }

    @media screen and (max-width: 500px) {
        .about{
            flex-direction: column;
        }
    }
/*  */


/* >>>>> RIGHT SECTION CONTAINER <<<<< */
    .aboutRight{
        background-color: rgb(27, 27, 27);
        padding: 16px;
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .aboutStatement{
        width: 90%;

        font-size: 3rem;
        text-align: center;
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }

    .aboutAnswer{
        width: 80%;

        font-size: 20px;
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }

    .aboutAnswer span{
        font-weight: bold;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1300px) {
        .aboutRight{

        }

        .aboutStatement{
            font-size: 2.5rem;
        }

        .aboutAnswer{
            font-size: 18px;
        }
    }
    
    @media screen and (max-width: 1000px) {
        .aboutStatement{
            font-size: 2rem;
        }

        .aboutAnswer{
            font-size: 16px;
        }
    }

    @media screen and (max-width: 750px) {
        .aboutStatement{
            font-size: 1.5rem;
        }

        .aboutAnswer{
            font-size: 14px;
        }
    }

    @media screen and (max-width: 570px) {
        .aboutStatement{
            font-size: 1.5rem;
        }

        .aboutAnswer{
            font-size: 12px;
        }
    }

    @media screen and (max-width: 500px) {
        .aboutRight{
            width: 90%;
        }
        .aboutStatement{
            font-size: 1rem;
            width: 100%;
        }

        .aboutAnswer{
            font-size: 10px;
            text-align: center;

            height: 30%;
            width: 100%;
        }

        .about{

        }
    }
/*  */


/* >>>>> LEFT SECTION CONTAINER <<<<< */
    .aboutLeft{
        background-color: rgb(27, 27, 27);
        height: 100%;
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1100px) {
        .aboutLeft{
            flex-direction: column;
        }
    }

    @media screen and (max-width: 1000px) {
        .aboutLeft{
            flex-direction: column;
        }
    }

    @media screen and (max-width: 500px) {
        .aboutLeft{
            flex-direction: row;

            height: 80%;
            width: 100%;

            align-items: flex-start;
        }
        
    }

    
/*  */