@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

/* >>>>> HEADER CONTAINER <<<<< */
    .headerContainer{
        width: 100%;
        height: 80px;
        padding: 10px;

        position: sticky;
        top: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        font-family: "Anton SC", serif;
        font-weight: 100;
        font-style: normal;
        font-size: 16px;

        /* width: 10%; */
    }

    #sidebar{
        display: none;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (min-width: 800px) {
        
    }
/*  */


/* >>>>> NAVBAR SECTION <<<<< */
    .navbar{
        width: 350px;
        height: 100vh;
        padding: 20px;

        background-color: #B9E248;

        position: fixed;
        top: 0;
        right: -350px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .openHeader{
        font-size: 2rem;
        color: #B9E248;
    }

    .headerClose{
        font-size: 2rem;
    }

    #sidebar:checked ~ .navbar{
        right: 0;
        transition: 300ms;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (min-width: 800px) {
        .navbar{
            width: 65%;
            height: initial;

            background-color: transparent;

            right: 0;

            flex-direction: row;
            /* align-items: flex-end; */
            justify-content: space-between;
        }

        .openHeader, .headerClose{
            display: none;
        }
    }
    @media screen and (min-width: 1200px) {
        .navbar{
            width: 55%;
            height: initial;

            background-color: transparent;

            right: 0;

            flex-direction: row;
            /* align-items: flex-end; */
            justify-content: space-between;
        }

        .openHeader, .headerClose{
            display: none;
        }
    }
/*  */

/* >>>>> NAVLIST CONTAINER <<<<< */
    .navList{
        list-style: none;

        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;

        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

    }
    /* >>> RESPONSIVE <<< */
    @media screen and (min-width: 800px) {
        .navList{
            margin: 0 auto;

            height: initial;

            flex-direction: row;
            gap: 1rem;
        }
    }
/*  */


/* >>>>> TO SIGN UP CONTAINER <<<<< */
    .toSignUp{
        width: 100%;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .createAccount{
        width: 190px;
        height: 40px;

        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        
        border-radius: 20px;
        background-color: black;

        display: grid;
        place-content: center;
        
    }

    .createAccount p{
        color: #B9E248;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (min-width: 800px) {
        .toSignUp{
            justify-content: flex-end;
        }
    }