@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');


/* >>>>> TRANSFER APP <<<<< */
    .transferApp{
        height: 100%;
        width: 90%;
        padding: 30px;

        border: 2px solid #B9E248;
        border-radius: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .transferHeader{
        color: white;
        font-size: 3rem;
        font-family: "Anton SC", serif;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> TRANSECTIONS CONTAINER <<<<< */
    .transectionsContainer {
        width: 100%;
        height: 90%;
        padding: 20px;

        scroll-behavior: auto;
        overflow: scroll;
    }

    .transectionsContainer::-webkit-scrollbar{
        display: none;
    }
    /* >>> RESPONSIVE <<< */
/*  */