/* >>>>> SLIDER ITEM CONTAINER <<<<< */
    .sliderItemContainer {
        width: 300px;
        height: 300px;
        padding: 16px;
        background-color: white;

        color: black;

        object-fit: cover;
        border-radius: 20px;

        /*         transform: rotate(10deg); */

        box-shadow: 2px 2px 10px white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    .sliderImg {
        width: 100px;
        height: 100px;

        background-image: url("/src/components/about/about1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sliderDes {
        font-size: 16px;
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1300px) {
        .sliderItemContainer{
            height: 250px;
            width: 250px;
        }

        .sliderDes{
            font-size: 15px;
        }

        .sliderImg{

        }
    }

    @media screen and (max-width: 1100px) {
        .sliderItemContainer{
            height: 200px;
            width: 200px;
            
            gap: 0;
        }

        .sliderDes{
            font-size: 12px;
        }

        .sliderImg{
            width: 70px;
            height: 70px;
        }
    }

    @media screen and (max-width: 750px) {
        .sliderItemContainer{
            height: 150px;
            width: 150px;
            
        }

        .sliderDes{
            font-size: 9px;
        }

        .sliderImg{
            width: 60px;
            height: 60px;
        }
    }
/*  */