@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

/* >>>>> CONTACT CONTAINER <<<<< */
    .contactContainer{
        height: 100%;
        padding: 40px;

        color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1520px) {
        .contactContainer{
            padding: 0;
        }
    }

    @media screen and (max-width: 900px) {
        .contactContainer{
            padding: 0;

            justify-content: space-evenly;
        }
    }

    @media screen and (max-width: 400px) {
        .contactContainer{
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
/*  */


/* >>>>> contacts <<<<< */
    .contacts{
        display: flex;
        flex-direction: column;
    }

    .contacts h2{
        letter-spacing: 1px;
        font-size: 2rem;
        font-family: "Anton SC", serif;
        font-weight: bolder;
        font-style: normal;
    }

    .contacts a{
        margin-top: 5px;

        color: white;
        text-decoration: none;

        font-size: 2rem;
        font-family: "Arapey", serif;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1300px) {
        .contacts{

        }
        
        .contacts h2{
            font-size: 1.5rem;
        }

        .contacts a{
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 570px) {
        .contacts{

        }
        
        .contacts h2{
            font-size: 1rem;
        }

        .contacts a{
            font-size: 1rem;
        }
    }
    @media screen and (max-width: 0px) {
        .contacts{

        }
        
        .contacts h2{
            font-size: 1rem;
        }

        .contacts a{
            font-size: 1rem;
        }
    }
/*  */


/* >>>>> REPO <<<<< */
    .repo{

    }

    .repo h2{
        letter-spacing: 1px;
        font-size: 2rem;
        font-family: "Anton SC", serif;
        font-weight: bolder;
        font-style: normal;
    }

    .repo a{
        margin-top: 5px;
        
        color: white;
        text-decoration: none;

        font-size: 2rem;
        font-family: "Arapey", serif;
        font-weight: 400;
        font-style: normal;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 1300px) {
        .repo{

        }

        .repo h2{
            font-size: 1.5rem;
        }

        .repo a{
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 1300px) {
        .repo{

        }

        .repo h2{
            font-size: 1rem;
        }

        .repo a{
            font-size: 1rem;
        }
    }
/*  */